<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>custom-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">custom-page</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button href="custom-page/1" shape="round"> Go by Link </ion-button>
    <ion-button (click)="goByEvent()" shape="round"> Go by Event </ion-button>
    </div>
</ion-content>
