<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>databinding</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">databinding</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-input type="text" placeholder="username" [(ngModel)]="username">
      username
    </ion-input>
    <ion-input type="password" placeholder="password" [(ngModel)]="password">
      password</ion-input
    >
    <ion-button (click)="login()"> Click me </ion-button>
  </div>
</ion-content>
