<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Welcome, {{username}}!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome, {{username}}!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Dashboard
      </ion-tab-button>
      <ion-tab-button tab="calculator">
        <ion-icon name="calculator"></ion-icon>
        Calculator
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
