<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1 style="color: rgb(71, 194, 231)">Blue Archive Students</h1>
    <h3>Name & birthday</h3>
    <ion-list [inset]="true">
      <ion-item *ngFor="let number of blueArchive">
        <ion-label>{{number.name}}</ion-label>
        <ion-label>{{number.birthday}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div>
    <ion-card>
      <ion-button
        class="log-out"
        (click)="logout()"
        color="danger"
        shape="round"
        >Log Out</ion-button
      >
    </ion-card>
  </div>
</ion-content>
